body {
    font-family: Roboto, sans-serif;
}

.header-navbar {
    font-family: rbBold;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    padding: 10px 100px 0;
    box-sizing: border-box;
    transition: .3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #018DCE;
    position: fixed;
    z-index: 10000;
}

    .header-navbar.black {
        background-color: rgba(0, 0, 0, .8);
    }

    .header-navbar .logo {
        padding: 22px 20px;
        height: 80px;
        font-size: 28px;
        transition: .3s;
        font-weight: 900;
        letter-spacing: 3px;
        float: left;
    }

    .header-navbar.black .logo {
        color: #fff;
    }

    .header-navbar ul {
        list-style: none;
        display: flex;
        align-items: center;
        flex: 1;
        margin-left: 44px;
    }

        .header-navbar ul li {
            list-style: none;
        }
        .header-navbar ul > * ~ * {
            margin-left: 40px;
        }
        .header-navbar ul li a {
            display: flex;
            justify-content: center;
            height: 89px;
            width: 120px;
            line-height: 80px;
            color: #ffffff;
            text-decoration: none;
            text-transform: uppercase;
            transition: all .3s ease 0s;
        }
            .header-navbar ul li a.login.active,
            .header-navbar ul li.active a {
                border-top-left-radius: 4px;
                border-top-right-radius: 4px;
                background: #fff;
                color: #000;
            }
    .header-navbar.black ul li a {
        color: #fff;
    }

    .header-navbar ul li a:focus {
    }

    .header-navbar ul li a.login {
        padding:0 20px;
        border-radius: 5px;
    }
    .none, .dangxuat{
        display:unset !important;
        height: unset !important;
        line-height: unset !important;
        color:unset !important;
        text-align:center;

    }
#controlAccount {
    flex: 1;
    text-align: right;
}
.nav-toggler {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out 0s;
    top: 6%;
    right: 0%;
    font-size: 45px;
    cursor: pointer;
    color: #fff;
}
